@import "./utility";
@import "~react-bulma-components/dist/react-bulma-components.min.css";

.idea-container {
  display: grid;
  grid-column-start: 2;
}
.idea-card-info {
  width: 610px;
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  // padding-top: 13px;
  // padding-left: 85px;
  margin-bottom: 15px;
  padding: 4em;
}
.idea-card-info h5 {
  width: 179px;
  height: 22px;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #909090;
  margin-bottom: 15px;
}
.idea-card-info strong {
  width: 441px;
  height: 22px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #444444;
}
.idea-card-info p:nth-child(odd) {
  width: 179px;
  height: 22px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.4px;
  color: #98a5ce;
  margin-bottom: 5px;
}
.idea-card-info p:nth-child(even) {
  width: 278px;
  height: 22px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #444444;
  margin-bottom: 15px;
}
.category-tag {
  width: 169px;
  height: 22px;
  border-radius: 13px;
  border: solid 1px #5d80ef;
  background-color: #ffffff;
  display: flex;
}
.category-tag h3 {
  width: 132px;
  height: 14px;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #5d80ef;
  padding-left: 15px;
}
.category-icon {
  width: 11px;
  height: 11px;
  background-color: #5d80ef;
  margin-top: 4px;
  margin-left: 10px;
}
// .ideas-container {
//   display: grid;

//   grid-template-columns: repeat(3, 4fr);
// }
.voting-title {
  width: 235px;
  height: 26px;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5d80ef;
  margin-bottom: 15px;
  margin-left: 40%;
}
.hack-event {
  width: 130px;
  height: 19px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #afbce5;
  margin-bottom: 30px;
  margin-left: 45%;
}
// .navbar-menu,
// .navbar-item {
//   background-color: #5d80ef;
// }
// .navbar-menu {
//   display: flex;
//   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
// }

.modalWindow {
  width: 611px;
  height: 500px;
  border-radius: 5px;
  font-family: Sofia-Pro;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  left: 40%;
  margin-top: 11%;
  margin-left: -25%;
}
.What-Is-Your-Idea {
  width: 100%;
  height: 22px;
  font-family: Sofia-Pro;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #444444;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.Rectangle_input {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #979797;
  text-align: left;
  font-size: 1.5em;
  padding: 4px;
  margin-left: 100px;
}
.Rectangle-Copy {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #979797;
}
.Rectangle_input {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #979797;
  text-align: left;
  font-size: 1em;
  font-family: SofiaPro;
  padding: 4px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;

  .Rectangle-copy-2 {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #979797;
  }
  .Rectangle-Copy-3 {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #979797;
  }
  #category {
    padding: 4px;
    margin-left: 250px;
  }
  .submitButton {
    padding: 7px;
    margin-left: 50%;
    margin-top: 50px;
    font-size: 20px;
    background-color: #209cee;
    border-radius: 5px;
    color: white;
  }

  .team-container {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .team-card {
    width: 610px;
    height: 70px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 8px;
  }
  .team-title {
    width: 441px;
    height: 22px;
    font-family: SofiaPro;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #444444;
    text-align: left;
  }
  .team-name {
    width: 179px;
    height: 22px;
    font-family: SofiaPro;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #909090;
    text-align: left;
  }
  .member-num {
    display: flex;
    justify-content: center;
  }
  .team-members {
    width: 40px;
    height: 22px;
    font-family: SofiaPro;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d80ef;
    position: relative;
    left: 250px;
    bottom: 30px;
  }

  .Create-Your-Profile {
    width: 176px;
    height: 22px;
    font-family: SofiaPro;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #444444;
  }

  .Oval {
    width: 100px;
    height: 100px;
  }

  .profile-pic {
    border-radius: 35px 35px 35px 35px;
  }

  .profileWindow {
    width: 500px;
    height: 7000px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10%;
    margin-left: -25%;
  }

  img .profile-photo {
    position: relative;
    height: 58px;
    flex: center;
    background-color: #e5e5e5;
    border-radius: 25px 25px 25px 25px;
  }

  .profile-button {
    margin-left: 30px;
  }

  .category-tag {
    width: 169px;
    height: 22px;
    border-radius: 13px;
    border: solid 1px #5d80ef;
    background-color: #ffffff;
    display: flex;
  }
  .category-tag h3 {
    width: 132px;
    height: 14px;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #5d80ef;
    padding-left: 15px;
    margin: auto;
  }
  .profile-photo img {
    height: 200px;
    width: auto;
  }
  // .idea-container {
  //   display: flex;
  //   flex-direction: column;
  //   margin: auto;
  // }

  img {
    height: 88px;
  }
}

.idea-container-boss {
  display: flex;
  flex-direction: column;
}

.idea-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  width: auto;
  height: 40px;
  background-color: #5d80ef;
  border: white 1px solid;
  border-radius: 25px;
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  padding-left: 15px;
  margin-bottom: 15px;
  color: white;
}
.heart-div {
  position: relative;
  float: right;
}

.secured-container {
  display: flex;
}

.secured {
  margin: auto;
}

.navbar-end a a,
.navbar-item p {
  color: white;
}
